streamlit
plotly
pandas
numpy
scikit-learn
xgboost
joblib
matplotlib
seaborn
python-dotenv
tensorflow
opencv-python-headless
deepface
tf-keras
langchain
langchain-community
langchain-google-genai
google-generativeai
sentence-transformers
faiss-cpu
pypdf
langchain-text-splitters
groq
google-genai
